{%extends "base.html"%}
{% load bootstrap3 %}
{% block content %}
<br><br>
<div class="container">
    <h3 class="text-center">Edit Profile</h3>
    <hr>
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-7">

            <div class="panel panel-default">
              
                <div class="panel-body">
                    <form method="POST" action='' enctype=multipart/form-data>
                        {% csrf_token %}
                        {% bootstrap_form form2 %}
                        {% bootstrap_form form %}

                        <div class="form-group">
                            <input type="submit" class="btn btn-info col-md-12" value="Post">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}